@font-face {
    font-family: Pocket-Monk;
    src: url("../fonts/Pocket_Monk.otf");
}

@font-face {
    font-family: Pokemon;
    src: url("../fonts/Pokemon_GB.ttf");
}

:root {
    --light-yellow: #FFDE00;
    --dark-yellow: #B3A125;
    --blue: #3B4CCA;
    --light-red: #FF0000;
    --dark-red: #CC0000;
    --icon: 1.3em;
}

body {
    font-family: "Pokemon";
    background-image: url("../images/city_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.title {
    font-family: "Pocket-Monk";
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 15vmax;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.title>h1 {
    font-size: 18vw;
    text-shadow: 1vw 1vw black;
    height: 100%;
    mix-blend-mode: hard-light;
    background-color: var(--dark-red);
    margin: 0;
    color: var(--light-yellow);
    -webkit-text-fill-color: var(--light-yellow);
    -webkit-text-stroke-width: 0.7vw;
    -webkit-text-stroke-color: var(--blue);
}

#overlap {
    font-size: 18vw;
}

#poke-form {
    margin: 10px auto;
    text-align: center;
}

button,
#add-pokemon,
.pokemon-gif,
#poke-input,
.remove {
    background-color: white;
    font-family: "Pokemon";
    border-width: 5px;
    border-style: groove;
    margin: 10px;
}

.gifs-appear-here {}

.pokemon-gif {
    position: relative;
    float: left;
}

#load {
    margin: 20px auto;
    content: "";
    display: table;
    clear: both;
}

.download,
a,
.favorite {
    height: var(--icon);
    display: inline-block;
    float: right;
    margin: none;
}

.remove {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 780px) {
     :root {
        --icon: 3em;
    }
    .download,
    a,
    .favorite {
        margin: 2px 0;
    }
}